<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity android:name=".LaunchGateActivity" android:exported="true">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".VoiceOrbHomeActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SystemGraphActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".NodeInspectorActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".SchemaFormActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GoogleSheetsConnectionActivity" android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".FinanceActivity" android:exported="true" android:screenOrientation="portrait">
            <meta-data android:name="amin.graph.visible" android:value="true" />
            <meta-data android:name="amin.graph.id" android:value="finance" />
            <meta-data android:name="amin.graph.capability_id" android:value="finance" />
            <meta-data android:name="amin.graph.title" android:value="財務" />
            <meta-data android:name="amin.graph.description" android:value="個人財務首頁：新增收支、收支明細、分類、帳戶與資產。" />
            <meta-data android:name="amin.graph.parent" android:value="control-center" />
            <meta-data android:name="amin.graph.route" android:value="amin-finance://home" />
            <meta-data android:name="amin.graph.direction" android:value="right" />
            <meta-data android:name="amin.graph.slot" android:value="4" />
            <meta-data android:name="amin.graph.node_type" android:value="capability" />
            <meta-data android:name="amin.graph.actions" android:value="open" />
            <meta-data android:name="amin.graph.voice_enabled" android:value="true" />
            <meta-data android:name="amin.graph.voice_aliases" android:value="財務,我的財務,財務首頁" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="amin-finance" android:host="home" />
            </intent-filter>
        </activity>

        <activity android:name=".FinanceTransactionActivity" android:exported="true" android:screenOrientation="portrait">
            <meta-data android:name="amin.graph.visible" android:value="true" />
            <meta-data android:name="amin.graph.id" android:value="finance-transaction-create" />
            <meta-data android:name="amin.graph.capability_id" android:value="finance.transaction.create" />
            <meta-data android:name="amin.graph.title" android:value="新增收支" />
            <meta-data android:name="amin.graph.description" android:value="新增一筆收入、支出或轉帳紀錄，寫入 Google Sheets / Transactions。" />
            <meta-data android:name="amin.graph.parent" android:value="finance" />
            <meta-data android:name="amin.graph.route" android:value="amin-finance://new-transaction" />
            <meta-data android:name="amin.graph.direction" android:value="right" />
            <meta-data android:name="amin.graph.slot" android:value="1" />
            <meta-data android:name="amin.graph.node_type" android:value="capability" />
            <meta-data android:name="amin.graph.actions" android:value="open,create" />
            <meta-data android:name="amin.graph.input_contract" android:value="transaction_v1" />
            <meta-data android:name="amin.graph.output_contract" android:value="transaction_v1" />
            <meta-data android:name="amin.graph.voice_enabled" android:value="true" />
            <meta-data android:name="amin.graph.voice_aliases" android:value="記帳,新增收支,新增支出,新增收入" />
            <meta-data android:name="amin.graph.storage_adapter" android:value="google_sheets" />
            <meta-data android:name="amin.graph.storage_source_id" android:value="personal_finance" />
            <meta-data android:name="amin.graph.storage_table" android:value="Transactions" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="amin-finance" android:host="new-transaction" />
            </intent-filter>
        </activity>

        <activity android:name=".FinanceSectionActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="amin-finance" android:host="categories" />
                <data android:scheme="amin-finance" android:host="accounts" />
                <data android:scheme="amin-finance" android:host="assets" />
            </intent-filter>
        </activity>

        <activity android:name=".DataViewActivity" android:exported="true" android:screenOrientation="portrait">
            <meta-data android:name="amin.graph.visible" android:value="true" />
            <meta-data android:name="amin.graph.id" android:value="finance-food" />
            <meta-data android:name="amin.graph.capability_id" android:value="finance.expense.food.view" />
            <meta-data android:name="amin.graph.title" android:value="餐飲" />
            <meta-data android:name="amin.graph.description" android:value="顯示 Transactions 中 category=food 的餐飲資料，並以相同 Context 新增支出。" />
            <meta-data android:name="amin.graph.parent" android:value="finance" />
            <meta-data android:name="amin.graph.route" android:value="amin-data://food" />
            <meta-data android:name="amin.graph.direction" android:value="right" />
            <meta-data android:name="amin.graph.slot" android:value="6" />
            <meta-data android:name="amin.graph.node_type" android:value="data_view" />
            <meta-data android:name="amin.graph.actions" android:value="open,create,refresh" />
            <meta-data android:name="amin.graph.input_contract" android:value="transaction_v1" />
            <meta-data android:name="amin.graph.output_contract" android:value="transaction_v1" />
            <meta-data android:name="amin.graph.voice_enabled" android:value="true" />
            <meta-data android:name="amin.graph.voice_aliases" android:value="餐飲,餐飲支出,吃飯支出" />
            <meta-data android:name="amin.graph.storage_adapter" android:value="google_sheets" />
            <meta-data android:name="amin.graph.storage_source_id" android:value="personal_finance" />
            <meta-data android:name="amin.graph.storage_table" android:value="Transactions" />
            <meta-data android:name="amin.graph.filter_json" android:value="{&quot;category&quot;:&quot;food&quot;}" />
            <meta-data android:name="amin.graph.input_context_json" android:value="{&quot;category&quot;:&quot;food&quot;}" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="amin-data" android:host="food" />
                <data android:scheme="amin-data" android:host="transactions" />
            </intent-filter>
        </activity>
    </application>
</manifest>
